html,
body {
  height: 100%;
  margin: 0;
  background: rgb(235, 226, 226);
}

/* .main {
  display: flex;
  margin-top: 60px;
  padding-top: 0;
  flex-direction: column;
  justify-content: flex-start;
} */

.main {
  display: flex;
  flex-direction: column; /* zorgt voor verticale stacking */
  justify-content: flex-start;
  margin-top: 60px; /* voldoende ruimte voor de navbar */
  padding: 32px; /* zorgt voor ruimte rond de content */
  background-color: rgb(
    168,
    158,
    158
  ); /* achtergrond kan je aanpassen of verwijderen */
}
p {
  margin: 1em;
}
