/* styling for the social media / get in touch 
buttons on the get in touch page */

.touchLinks {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  gap: 1rem;
}

.touchLinks img {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 100px;
  padding: 0.2rem;
}

.touchLinks img:hover {
  background-color: #f0f0f0;
  transform: scale(1.2);
  transition: all 0.2s ease;
}
