html,
body {
  height: 100%;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: row; /* horizontale uitlijning */
  align-items: flex-start; /* bovenaan uitlijnen */
  gap: 2rem; /* ruimte tussen img en content */
  padding: 2rem;
  flex-wrap: wrap;
}

.img {
  /* display: block; */
  width: 150px;
  height: 150px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  object-fit: cover; /* Zorgt ervoor dat de afbeelding volledig zichtbaar blijft binnen de cirkel */
  object-position: -0.1px -10px; /* Zorgt ervoor dat de afbeelding in het midden van de cirkel staat */
}

.content {
  flex: 1;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.link {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  gap: 1rem; /* Ruimte tussen de iconen */
}

.link img {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 100px; /* optioneel, maakt het iets ronder */
  padding: 0.2rem; /* beetje ruimte rondom het icoon */
}

.link img:hover {
  background-color: #f0f0f0;
  transform: scale(1.2);
  transition: all 0.2s ease;
}

/* Media query voor kleinere schermen */
@media (max-width: 768px) {
  /* Op kleinere schermen worden de img en content onder elkaar gezet */
  .main {
    flex-direction: column; /* Verander naar kolomlayout */
    align-items: center; /* Centreer de content */
  }

  /* Als de schermgrootte kleiner is dan 768px, maak de afbeelding nog kleiner */
  .img {
    width: 120px; /* Kleinere afbeelding op kleine schermen */
    height: 120px;
  }

  /* Zorg ervoor dat de .link iconen netjes in de rij staan */
  .link {
    justify-content: center; /* Center de iconen op kleine schermen */
    gap: 1rem; /* Ruimte tussen de iconen */
  }
}
