/* styling for the homepage but because almost 
the whole homepage is homeNavbar.css very little
styling here. */

.home-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* width: 100vw;  */
}
