/* styling for the navbar on the homepage 
used in combination with homeLayout.css */

.homenavbar-nav {
  /* padding: 1rem; */
  /* position: fixed; */
  /* margin: 1rem; */
  /* bottom: 0; */
  flex: 1;
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f1e3;
  /* box-shadow: 20px 20px 10px rgba(252, 4, 4, 0.966); */
  /* z-index: 1; */
  /* padding: 1rem 0; */
}
.homenavbar-title {
  font-family: "Megrim";
  font-size: 1.5rem;
  text-shadow: 1px 0 #1b9aaa, 0 1px #1b9aaa, -1px 0 #1b9aaa, 0 -1px #1b9aaa;
  color: #1b9aaa;
  text-align: right;
  /* padding-right: 3rem; */
  /* padding: 3rem; */
  margin: 2rem;
  border-bottom: 2px solid #050505;
}

/* .homenavbar-title:hover {
 
  filter: drop-shadow(0 0 1em #cd1818);
} */

.homenavbar-nav-container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin: 1rem;
  /* width: 100%; */
  height: 100%;
  display: flex;
  flex: 1;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
}

.homenavbar-nav-links {
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr); */
  /* gap: 1rem; */

  /* max-width: 500px; */
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: auto;
  width: 100%;
}

.homenavbar-nav-links a {
  /* background-color: #1f7d53; */
  /* display: flex; */
  /* border-radius: 16px; */
  /* height: 50px; */
  background-color: #dddbcb;
  /* border-color: #4c5b61; */
  padding: 1rem;
  margin: 0.05rem;
  /* text-align: left; */
  text-decoration: none;
  color: #1b9aaa;
  font-size: 2rem;
  /* border: thick double red; */
  text-shadow: 2px 2px 0px #ffffff;
  /* box-shadow: 10px 10px 10px #191919; */
  transition: background-color 0.5s ease, color 0.5s ease;
}

.portfolio-link {
  border-radius: 16px 0 0 0;
  /* border-right: thick double;
  border-bottom: thick double; */
}

.projects-link {
  border-radius: 0 16px 0 0;
  /* border-left: thick double;
  border-bottom: thick double; */
}

.about-link {
  border-radius: 0 0 0 16px;
  /* border-right: thick double;
  border-top: thick double; */
}

.contact-link {
  border-radius: 0 0 16px 0;
  /* border-left: thick double;
  border-top: thick double; */
}

.homenavbar-nav-links a:hover {
  background-color: #1b9aaa;
  text-shadow: 2px 2px 0px #105058;
  color: #ffffff;
}

.homenavbar-footer {
  width: calc(100% - 4rem);
  height: 60px;
  margin: 0 2rem;
  border-top: 2px solid #050505;
  text-align: center;
  /* background-color: #191919; */
  color: #050505;
}

@media (max-width: 475px) {
  .homenavbar-title {
    font-size: 1rem;
  }

  .homenavbar-nav-container {
    margin: 0.5rem;
  }

  .homenavbar-nav-links a {
    padding: 0.5rem;
    margin: 0.05rem;
    font-size: 1.25rem;
    transition: background-color 0.2s ease, color 0.2s ease;
  }
}
