/* styling for the navbar in anything but the homepage 
used in combination with mainLayout.css*/

.nav {
  position: relative;

  padding: 2rem;

  height: 100px;

  color: #fff;

  text-align: left;
  z-index: 9998;
  /* background-image: url("../assets/background-dark-abstract.jpg"); */
  /* background-size: cover; */
  /* background-position: center center; */
  /* background-repeat: no-repeat; */
  text-decoration: none;
}

.nav a {
  /* padding: 0.1rem; */
}

/* .nav a:hover {
  color: #646cff;
} */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid #030303;

  /* flex-wrap: wrap; */
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: #bed754;
  text-decoration: none;
  position: relative;
}
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #e3651d;
  transition: width 0.3s ease-in-out;
}
.nav-links a:hover::after {
  width: 100%;
}

/* 
.logo {
  font-weight: bold;
  font-size: 1.5rem;
} */
.logo a {
  font-family: "Megrim";
  /* font-size: 1.5rem; */
  /* text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black; */
  text-decoration: none;
  color: #e3651d;
}
.logo {
  /* padding: 1rem; */
  font-size: 2rem;

  /* background: linear-gradient(90deg, #0410f7, #77d6f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  will-change: filter;
  transition: filter 300ms;
  text-decoration: none;
}

.logo::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #bed754;
  transition: width 0.3s ease-in-out;
}
.logo:hover::after {
  width: 100%;
}
.logo a:hover {
  /* color: #751d0e; */
  /* text-shadow: 0 0 2em #bed754; */
  /* transform: scale(1.05); */
  /* animation: logo-spin 3s linear infinite; */
  /* filter: drop-shadow(0 0 2em #bed754); */
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

@media (max-width: 430px) {
  .nav {
    padding: 1rem;
  }
  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
  }
}

@media (min-width: 430px) and (max-width: 900px) {
  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    display: flex;
  }
}
