/* PcBuild.css */

.PCPP-build-Link {
  text-decoration: none;
  color: #bed754;
  position: relative;
}

.PCPP-build-Link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #e3651d;
  transition: width 0.3s ease-in-out;
}
.PCPP-build-Link:hover::after {
  width: 100%;
}

li {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.even {
  align-items: flex-start;
}

.even button {
  color: #e3651d;
}

.odd {
  align-items: flex-start;
}

.odd button {
  color: #bed754;
}

button {
  background-color: #191919;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: fit-content;
  text-align: center;
  margin: 0;
  border: none;
  position: relative;
}

button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: 0%;
  transition: width 0.3s ease-in-out;
}

.align-left button::after {
  background-color: #bed754;
  left: 0;
}

.align-right button::after {
  background-color: #e3651d;
  right: 0;
}

button:hover::after {
  width: 100%;
}

button:hover {
  transform: scale(1.03);
}

.post-content {
  margin-top: 0.5rem;
  padding: 1rem;
  /* background-color: #f4f4f4; */
  border-radius: 6px;
  /* border: 1px solid #ddd; */
}
