/* PcBuild.css */

.ProjectsLink {
  text-decoration: none;
  color: #2e6241;
  position: relative;
}

.ProjectsLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #eaf6ff;
  transition: width 0.3s ease-in-out;
}
.ProjectsLink:hover::after {
  width: 100%;
}

li {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.even {
  align-items: flex-start;
}

.even button {
  color: #2e6241;
  border-color: #eaf6ff;
}

.odd {
  align-items: flex-start;
}

.odd button {
  color: #eaf6ff;
  border-color: #2e6241;
}

button {
  background-color: #878e94;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: fit-content;
  text-align: center;
  margin: 0;
  border: solid;
  position: relative;
  border-radius: 8px;
}

button::after {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 2px;
  width: 0%;
  transition: width 0.3s ease-in-out;
}

.align-left button::after {
  background-color: #eaf6ff;
  left: 0;
}

.align-right button::after {
  background-color: #2e6241;
  right: 0;
}

button:hover::after {
  width: 100%;
}

button:hover {
  transform: scale(1.03);
}

.post-content {
  margin-top: 0.5rem;
  padding: 1rem;
  /* background-color: #f4f4f4; */
  border-radius: 6px;
  /* border: 1px solid #ddd; */
}
