/* currently global styled via mainLayout.css */

.portfolio-container {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.portfolio-button {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  border: 2px solid #050505;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  box-sizing: border-box;
}

.portfolio-button:hover {
  border: 2px solid #1b9aaa;
  background-color: #f5f1e3;
  color: #1b9aaa;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}

/* Image styling (not in use atm) */
/* .portfolio-image {
  width: 200px;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
} */

/* Content styling */
.portfolio-info {
  flex: 1;
  padding: 0 20px;
}

/* Button 1: content left aligned (default flex-row) */
.portfolio-button.left {
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
}

/* Button 2 & 3: content right aligned */
.portfolio-button.right {
  flex-direction: row-reverse;
  justify-content: flex-start;
  text-align: right;
}

/* Maak tekst ook rechts uitgelijnd als button rechts is */
.portfolio-button.right .project-info {
  text-align: right;
}

.PortfolioLink {
  text-decoration: none;
  color: #1b9aaa;
  position: relative;
}

.PortfolioLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #f5f1e3;
  transition: width 0.3s ease-in-out;
}
.PortfolioLink:hover::after {
  width: 100%;
}
